#portrait{
    margin : 5px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    margin: 5px
}

#about {
    float:right;
    
}
.skillsSets p{
    font-size: 20px
}

.skillsSets{
    font-size: 30px;
    text-align: center;
    
   
}

.containerInfo {
    text-align: center;
}
.w3-card-4{
    width: 505px;
    text-align: center;
}


.greetings{
    float: right;
    margin: 5px;

}

.projects{
    font-size: 20px;
    text-align: center;
 
}

h1{
    text-align: center;
}

.techName {
    float: left;
    
}

.techName p {
    margin: 20px;
}

.techDesc {
    float: right;
    margin-right: 5%;
}

.techDesc p {
    margin: 20px;
}


.row {
    padding: 15px;
    padding-left: 10px;
    
}

.fieldHeader {
    text-align: center;
    margin: 10px;
}