<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Linux and NodeJS Commands</title>
    <style>
        body{
            
        }
    </style>
</head>
<body>
    <h1>Linux and Npm Commands</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Linux Command:</th>
                <th scope="col">Description:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ls - list files</td>
                <td>It stands for list files, so it lists all the files and folders of the directory that you are inside.</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>cd - change directory</td>
                <td>This command is what you want to remember as it is the most used one. It is used to change directory to another folder.</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>touch [filename] - Creates new file</td>
                <td>It creates a new file inside the directory, that you are currently in. This can be used to make text files, but can also be used to make .py or .js files</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>cat [filename]</td>
                <td>It is used to see what is inside the file, that the cat has been called on. It prints the content of the file in the terminal.</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>echo [text]</td>
                <td>What echo means is, that it reprashe what you echo. You could say the terminal repeats the text you enter.</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>mkdir - Make directory</td>
                <td>This command makes a new directory or folder inside the current directory, that you are working in.</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>rm [filename] - Remove file</td>
                <td>Removes the selected file or directory inside the working directory</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>rmdir [directory] - Remove directory</td>
                <td>Removes the selected directory inside the working directory</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>cp [newOfNewFile] [pathOfFileToCopy] - Copy file</td>
                <td>Copy a file into the working directory.</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>#</th>
                <th>NPM Commands:</th>
                <th>Description:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>npm install [package]</td>
                <td>This is used to install dependecies with Node Package Manager. This can also be translate into npm -i [dependency]</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>npm init -y</td>
                <td>Creates a package.json file inside the directory, that we are working inside. The flag y is to set it to defualt.</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>npm install -g [package]</td>
                <td>This is used to install packages globally, so they can be be used in any project. This would be smart to do with 'nodemon'</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>npm ls</td>
                <td>Lists all installed modules.</td>
            </tr>
        </tbody>
    </table>
    <a href="/">Back to home</a>
</body>
</html>