body{
    background-color: pink;
}
nav{
    border: 1px solid black;
}
nav a{
    font-size: 25px;
    margin: 4px;
}
#footer-copyright{
    text-align: center;        
}
#main-content{
    min-height: calc(100vh - 120px);
}

img{
    justify-content: center;
    display: flex;
}